body {
    background-color: rgb(7, 8, 20);
}

.main-part{
    display: flex;
    margin: 90px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-items: flex-start;
}
.zodiac-box {
    width: 600px;
    height: 600px;
    background: rgba(255, 255, 255, 0.377);
    border-radius: 40px;
}

.memory-box {
    width: 600px;
    height: 300px;
    background: rgb(255, 255, 255);
    border-radius: 40px;
}

.text-para {
    font-family: "Space Mono";
}