body {
    margin: 0;
    overflow: hidden;
    font-family: "Space Mono";
}

.text {
    position: fixed;
    top: 40px;
    left: 40px;
    color: white;
    font-size: 20px;
    z-index: 9999;
    pointer-events: none;
}

.viewport {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: grab;
    user-select: none;
    touch-action: none;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    height: 2000px;
    transform-origin: 0 0;
}

.map {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
}